@font-face {
    font-family: hind-madurai-regular;
    src: url("/assets/fonts/hind-madurai-regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}

body {
    margin: 0;
}

.header {
    background: rgba(242, 206, 218, 0.5);
}

.a_href_div {
    width: 100%;
    text-align: center;
}

.a_href {
    color: #D23166;
    font-weight: bold;

}

.button_a_href {
    width: 100px;
}

.container {
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
}
 .logo {
     padding-top: 10px;
 }

 .menu {
     display: flex;
     justify-content: space-between;
     padding-top: 41px;
     margin: 0;
 }

 .menu_li {
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 15px;
     line-height: 18px;
     color: #D23166;
     text-decoration: none;
     list-style: none;
     margin-right: 40px;
 }

 .menu_button {
     padding-top: 25px;
 }

 .button_buy_now {
     font-family: Hind Madurai;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 22px;
     color: #FAFAFA;
     background: #D23166;
     border-radius: 5px;
     width: 165px;
     height: 49px;
     border: none;
     margin: 0;
 }

 .content_sweet_fun {
     display: flex;
     justify-content: space-between;
     padding-top: 196px;
     height: 550px;
 }

 .sweet_fun_strong {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.1em;
     color: #0F0101;
     margin: 0;
     padding-top: 196px;
 }

 .sweet_fun_h1 {
     font-family: Fredoka One;
     font-style: normal;
     font-weight: normal;
     font-size: 57.33px;
     line-height: 120.5%;
     color: #0F0101;
     margin: 0;
     padding-top: 6px;
     width: 651px;
 }

 .sweet_fun_p {
     font-family: Hind Madurai;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 27px;
     color: #0F0101;
     margin: 0;
     height: 50px;
     padding-top: 35px;
     padding-bottom: 50px;
     width: 505px;

 }

 .ellips {
     position: absolute;
     left: 930px;
     top: 391px;
 }

 .ice_cream {
     position: absolute;
     left: 830px;
     top: 114px;
     width: 597px;
     height: 597px;
 }

 .milk {
     position: absolute;
     left: 630px;
     top: 279px;
     width: 851px;
     height: 548px;
     transform: rotate(5deg);
 }

 .button_buy_now {
     font-family: Hind Madurai;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 22px;
     color: #FAFAFA;
     background: #D23166;
     border-radius: 5px;
     width: 165px;
     height: 49px;
 }

 .pink_color {
     color: #D23166;
 }

 .content_shipping {
     display: flex;
     justify-content: space-between;
 }

 .services {
     height: 400px;
     background: #FFFFFF;
     display: flex;
     align-items: center;
 }

 .free_shipping {
     background: #FFFFFF;
     box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
     border-radius: 7px;
     width: 250px;
     height: 200px;
     text-align: center;
 }

 .img_shipping {
     margin: 0;
 }

 .shipping_h1 {
     font-family: Hind Madurai;
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 28px;
     color: #000000;
     margin: 0;
     text-align: center;
     padding-top: 24px;
 }

 .shipping_p {
     font-family: Hind Madurai;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 19px;
     text-align: center;
     color: #000000;
     margin: 0;
     text-align: center;
     padding-top: 9px;
 }

 .oatmea {
     height: 544.5px;
     background: rgba(242, 206, 218, 0.5);
 }

 .brown_sugar_oatmea {
     display: flex;
     justify-content: space-between;
     padding-top: 141.39px;
 }

 .brown_sugar_h1 {
     font-family: Hind Madurai;
     font-style: normal;
     font-weight: 600;
     font-size: 44.2px;
     line-height: 49px;
     color: #150101;
     margin: 0;
 }

 .brown_sugar_p {
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     color: #150101;
     margin: 0;
     width: 442px;
     padding-top: 16.04px;
     padding-bottom: 35.1px;
 }

 .brown_sugar_button {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     color: #FAFAFA;
     background: #D64374;
     border-radius: 5px;
     width: 165px;
     height: 49.13px;
     margin: 0;
     border: none;
 }

 .column_broun_sugar_img {
     align-items: center;
 }

 .broun_sugar_img {
     width: 655px;
     height: 656.8px;
     margin-top: -180px;
 }

 .product {
     height: 2307px;
     background: #E5E5E5;
 }

 .our_product {
     font-family: Hind Madurai;
     font-style: normal;
     font-size: 44.2px;
     line-height: 61px;
     color: #150101;
     text-align: center;
     font-weight: 600;
     padding-top: 137.31px;
     margin: 0;
 }

 .menu_product {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 21px;
     color: #000000;
     margin: 0;
 }

 .ice_cream_product {
     display: flex;
     justify-content: space-between;
     padding-top: 64px;
 }

 .broun_bread_table {
     display: flex;
     justify-content: space-between;
     padding-top: 50px;
 }

 .broun_bread_1 {
     display: flex;
     justify-content: space-between;
     padding-bottom: 35px;
 }

 .broun_bread_img {
     width: 560px;
     height: 415px;
 }

 .broun_bread_text {
     padding-top: 109px;
 }

 .broun_bread {
     font-family: Hind Madurai;
     font-style: normal;
     font-weight: bold;
     font-size: 26px;
     line-height: 36px;
     color: #000000;
 }

 .broun_bread_p {
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     color: #000000;
     width: 444px;
 }

 .broun_bread_price {
     font-family: Hind Madurai;
     font-style: normal;
     font-weight: 500;
     font-size: 26px;
     line-height: 36px;
     color: #000000;
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding-bottom: 16px;
 }

 .broun_bread_price span {
     margin-left: 5px;
 }

 .broun_bread_button {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     color: #FAFAFA;
     width: 165px;
     height: 49px;
     background: #D64374;
     border-radius: 5px;
     border: none;
 }

 .types_of_ice_cream {
     display: flex;
     justify-content: space-between;
     margin: 0;
 }

 .reviews {
     display: flex;
     justify-content: space-between;
     margin: 0;
     padding-top: 50px;
 }

 .foto_Adele {
     width: 59px;
     height: 58px;
 }

 .name_Adele {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     color: #000000;
     width: 179px;
 }

 .country {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 14px;
     color: #000000;
 }

 .reviews_1 {
     display: flex;
     justify-content: space-between;
     margin: 0;
 }

 .reviews_p {
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     color: #000000;
     margin: 0;
     width: 322px;
 }

 .way_to_order {
     height: 678px;
     background: #F8EDF0;
 }

 .mobail_app {
     padding-top: 100px;
     border-radius: 32px;
 }

 .table_simple_way {
     display: flex;
     justify-content: space-between;
     margin: 0;
 }

 .simple_way_h1 {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 44.2px;
     line-height: 52px;
     color: #000000;
     margin: 0;
     width: 621px;
     padding-left: 120px;
     padding-top: 87px;
 }

 .simple_way_p {
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 21px;
     letter-spacing: 0.01em;
     color: #0F0101;
     margin: 0;
     width: 607px;
     padding-left: 120px;
     padding-top: 38px;
 }

 .select_your_food {
     display: flex;
     justify-content: space-between;
     margin: 0;
 }

 .select_li {
     display: flex;
     justify-content: space-between;
     padding-left: 80px;
 }

 .select {
     width: 30px;
     height: 30px;
 }

 .text_select_p {
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 22px;
     line-height: 26px;
     color: #000000;
     width: 166px;
     padding-left: 20px;
 }

 .google_button {
     border: none;
     padding-left: 105px;
 }

 .app_store_button {
     border: none;
     padding-top: 6px;
 }

 .quote {
     color: darkorange;
     font-size: 30px;
 }

 .slider_1 {
     padding-right: 34px;
     padding-top: 56px;
     border-radius: 5px;
 }

 .question {
     height: 545px;
     text-align: center;
 }

 .have_question {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 44px;
     line-height: 52px;
     text-align: center;
     color: #000000;
     width: 522px;
     padding-top: 115px;
     margin: 0 auto;
 }

 .footer {
     background: #0A0808;
     height: 381px;
 }

 .container_footer {
     display: flex;
     justify-content: space-between;
     height: 381px;
 }

 .column_polar {
     width: 207px;
 }

 .column_logo {
     padding-top: 70px;
     width: 79px
 }

 .column_p {
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 17px;
     letter-spacing: 0.01em;
     color: #FFFFFF;
 }

 .column_strong {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 14px;
     color: #FFFFFF;
 }

 .network {
     display: flex;
     justify-content: space-between;
 }

 .home {
     width: 69px;
     padding-top: 143px;
     padding-left: 37px;
 }

 .home_p {
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 14px;
     color: #FFFFFF;
 }

 .delivery {
     width: 108px;
     padding-top: 150px;
     padding-left: 132px;
 }

 .newsletter {
     padding-top: 136px;
     padding-left: 151px;
 }

 .pay_sistem {
     display: flex;
     padding-top: 16px;
 }

 .pay_sistem_img {
     padding-right: 15.7px;
 }

 .form {
     display: flex;
     justify-content: center;
 }

 .signup-text-input {
     border-left: 2px solid #D64374;
     border-bottom: 2px solid #D64374;
     border-top: 2px solid #D64374;
     border-right: none;
     box-sizing: border-box;
     border-radius: 5px 0 0 5px;
     width: 290px;
     height: 55px;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 16px;
     color: #FFFFFF;
     background: transparent;
     padding-left: 32px;
 }

 .button_sign_up {
     background: #D23166;
     border-radius: 0 5px 5px 0;
     width: 125px;
     border: none;
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 23px;
     color: #FFFFFF;
 }

 .send_input {
     background: #FAFAFA;
     border-radius: 5px 0 0 5px;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 16px;
     color: #0F0000;
     width: 500px;
     height: 74px;
     border: none;
     padding: 0 0 0 30px;
 }

 .button_send {
     background: #D64374;
     border-radius: 0 5px 5px 0;
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 23px;
     color: #FFFFFF;
     width: 130px;
     height: 74px;
     border: none;
     padding: 0;
 }

 .form_send {
     display: flex;
     padding-top: 28px;
     margin: 0 auto;
     width: 637px;
 }

.swiper {
    width: 100%;
    height: 100%;
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;
}

.target img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.target:last-child img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.target:first-child img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.swiper {
    width: 100%;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
}

.target-wrapper {
    justify-content: center;
}

.mySwiper2 {
    height: 230px;
    width: 334px;
}

.mySwiper {
    height: 57px;
    box-sizing: border-box;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 57px;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.foto img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.slider-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-bottom > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.slider_nav {
    width: 314px;
}

.prev_slide, .next_slide {
    cursor: pointer;
}
